body {
  font-family: arial, sans-serif;
  background-image: url("../images/weather.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f7fe;
  background-attachment: fixed;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  margin: 20px 0 10px;
}

h2 {
  color: #272142;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

h5 {
  text-align: center;
  color: #ff3467;
}

p {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

#humidity,
#humi,
#wind,
#win {
  color: #189048;
  font-weight: 700;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: white;
  opacity: 97%;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-top: -40px;
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  color: #189048;
  font-size: 120px;
  line-height: 1;
  font-weight: 700;
  margin-top: 50px;
}

.weather-temperature .units {
  color: #189048;
  position: relative;
  font-size: 28px;
  font-weight: 700;
  top: -60px;
}
a {
  text-decoration: none;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.weather-forcast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forcast-date {
  font-size: 16px;
  opacity: 0.5;
  font-weight: 700;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  color: #189048;
  font-weight: 700;
}
.weather-forecast-temperatures {
  font-size: 13px;
  color: #189048;
  font-weight: 700;
}
